.container {
  position: absolute;
  width: 400px;
  text-align: center;
  font-family: sans-serif;
  color: rgba(58, 58, 58, 0.7);
  background-image: url(../public/triple2x.png);
  height: 338px;
  background-repeat: no-repeat;
  background-size: 400px 338px;
  font-size: 15px;
  padding-top: 280px;
  left: 100px;
  top: 150px;
  animation-name: sequence; 
  animation-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

@keyframes sequence{
  from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }    
}